 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/TheBrandOracle.png");
  min-height: 727px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 727px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: -658px calc(((100% - 1140px) / 2) + 607px) 60px calc(((100% - 1140px) / 2) + -33px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 554px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: auto;
    margin-top: -591px;
    margin-right: calc(((100% - 940px) / 2) + 360px);
    margin-left: calc(((100% - 940px) / 2) + -34px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 522px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 459px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -459px;
    margin-right: calc(((100% - 720px) / 2) + 202px);
    margin-left: calc(((100% - 720px) / 2) + -34px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 670px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 65px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -328px;
    margin-right: calc(((100% - 540px) / 2) + 110px);
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 659px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -178px;
    margin-right: calc(((100% - 340px) / 2) + 77px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 692px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 26px 557px 0 0;
}

.u-section-2 .u-group-1 {
  width: 704px;
  min-height: 606px;
  height: auto;
  margin: -38px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 16px;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: bold;
  margin: 0 38px 0 0;
}

.u-section-2 .u-text-3 {
  margin: -3px 61px 0 0;
}

.u-section-2 .u-text-4 {
  font-weight: normal;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px 0 0;
}

.u-section-2 .u-image-1 {
  width: 61px;
  height: 61px;
  margin: 0 28px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 0;
  padding: 6px 31px 6px 30px;
}

.u-section-2 .u-image-2 {
  width: 107px;
  height: 338px;
  margin: -443px auto 0 21px;
}

.u-section-2 .u-image-3 {
  width: 174px;
  height: 239px;
  margin: -367px auto 259px 137px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 357px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-image-2 {
    width: 104px;
    height: 307px;
    margin-top: -370px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 151px;
    height: 207px;
    margin-top: -383px;
    margin-bottom: 60px;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 137px;
  }

  .u-section-2 .u-group-1 {
    width: 549px;
    min-height: 729px;
  }

  .u-section-2 .u-image-2 {
    width: 89px;
    height: 227px;
    margin-top: -510px;
  }

  .u-section-2 .u-image-3 {
    width: 103px;
    height: 141px;
    margin-top: -298px;
    margin-left: 82px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 675px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-group-1 {
    min-height: 989px;
    margin-top: -24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-left: -14px;
    margin-right: -14px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 38px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -241px;
    margin-right: 36px;
    margin-left: auto;
  }
}

.u-section-2 .u-text-4,
.u-section-2 .u-text-4:before,
.u-section-2 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-text-4 {
  border-color: transparent !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4:hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-text-4 {
  border-color: transparent !important;
}

.u-section-2 .u-text-4.u-text-4.u-text-4.hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-2 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: url("images/dff.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 608px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 818px;
  margin: 83px -217px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 15px -92px 0 10px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 0 48px 0 32px;
}

.u-section-3 .u-text-3 {
  text-align: left;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 23px 105px 0 32px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 23px auto 0 32px;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 396px;
  margin: -589px auto 60px -53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 218px;
  }

  .u-section-3 .u-image-1 {
    width: 392px;
    height: 272px;
    margin-top: -526px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -39px;
    margin-right: auto;
    margin-left: -53px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 583px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 236px;
    height: 164px;
    margin-top: -409px;
    margin-right: 35px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -69px;
    margin-right: 65px;
    margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    margin-top: -77px;
    margin-right: -37px;
    margin-bottom: 40px;
  }
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-3 {
  border-color: transparent !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-text-3 {
  border-color: transparent !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: linear-gradient(to right, #32cbec, #4af6aa);
}

.u-section-4 .u-sheet-1 {
  min-height: 563px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 497px;
  margin: 2px auto 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 561px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 31px 52px 0 8px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 31px 107px 0 18px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 22px 107px 0 18px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 13px auto 0 8px;
}

.u-section-4 .u-image-1 {
  width: 764px;
  height: 405px;
  margin: -482px 28px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 691px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    font-weight: normal;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 18px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -516px;
    margin-right: -29px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 12px;
    padding-right: 270px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-1 {
    width: 528px;
    height: 283px;
    margin-top: -483px;
    margin-right: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 617px;
    margin-right: 223px;
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 62px;
  }

  .u-section-4 .u-image-1 {
    width: 391px;
    height: 235px;
    margin-top: -113px;
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 40px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 290px;
    height: 183px;
    margin-top: -59px;
    margin-right: -50px;
    margin-bottom: 19px;
  }
}

.u-section-4 .u-text-2,
.u-section-4 .u-text-2:before,
.u-section-4 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-2.u-text-2.u-text-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-4 .u-text-2 {
  border-color: transparent !important;
}

.u-section-4 .u-text-2.u-text-2.u-text-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-4 .u-text-2 {
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-text-3,
.u-section-4 .u-text-3:before,
.u-section-4 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-4 .u-text-3 {
  border-color: transparent !important;
}

.u-section-4 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-4 .u-text-3 {
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
  min-height: 751px;
}

.u-section-5 .u-shape-1 {
  height: 145px;
  background-image: linear-gradient(to right, #32cbec, #4af6aa);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 207px;
  height: 207px;
  margin: -103px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  width: 697px;
  margin: 19px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  font-style: normal;
  line-height: 2;
  width: 701px;
  margin: 19px auto 60px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-6 .u-text-1 {
  margin: 29px 111px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 29px 99px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 16px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 85px 705px 0 0;
}

.u-section-6 .u-custom-html-1 {
  height: auto;
  min-height: 630px;
  margin: -465px -53px 0 570px;
}

.u-section-6 .u-image-1 {
  width: 22px;
  height: 23px;
  margin: -262px auto 0 -40px;
}

.u-section-6 .u-image-2 {
  width: 22px;
  height: 23px;
  margin: -198px auto 0 -40px;
}

.u-section-6 .u-image-3 {
  width: 22px;
  height: 23px;
  margin: 75px auto 0 -40px;
}

.u-section-6 .u-image-4 {
  width: 22px;
  height: 23px;
  margin: -198px auto 60px -40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: 749px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 505px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-left: 470px;
  }

  .u-section-6 .u-image-1 {
    margin-left: -35px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -200px;
    margin-left: -35px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 77px;
    margin-left: -35px;
  }

  .u-section-6 .u-image-4 {
    margin-top: -200px;
    margin-left: -35px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1659px;
  }

  .u-section-6 .u-text-1 {
    width: 567px;
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-2 {
    width: 416px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 106px;
    margin-right: 285px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-top: 16px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    margin-top: -205px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: -35px;
    margin-right: -35px;
  }

  .u-section-6 .u-text-2 {
    width: 390px;
    margin-top: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 138px;
    margin-right: 105px;
  }

  .u-section-6 .u-custom-html-1 {
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    margin-bottom: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1703px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 6px;
    margin-right: -62px;
    margin-left: -50px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-6 .u-custom-html-1 {
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-2 {
    margin-top: -204px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 82px;
    margin-bottom: 60px;
  }
}